<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">APPLICATION</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/addresse">Rechercher address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addresses">Addresses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/greeting">Greeting</a>
                </li>
            </ul>
        </div>
    </div>
</nav>